<div class="search-results panel panel-default">
  <div class="panel-heading clearfix">
    关于 “<%= params[:search] %>” 的搜索结果, 共 <%= @result.size %> 条
  </div>

  <div class="panel-body">
    <% @result.records.each_with_hit do |item, hit| %>
        <%= render partial: 'article', locals: { item: item, hit: hit } %>
    <% end %>
  </div>

</div>
