<%
   user_ids = current_user.follower_ids + current_user.following_ids
   users = User.where(:id => user_ids).collect { |i| i.full_name }.to_s.html_safe
%>
<%= form_for(Comment.new, remote: true, url: article_comments_url(@article)) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: 'article-editor form-control', rows: '4', tabindex: '1' %>
  </div>
  <div class="submit-buttons">
    <button type="submit" id="reply-button" class="btn btn-primary" tabindex="2">提交回复</button>
    <span class="help-inline" style="padding-left: 5px;" title="或者 Ctrl + Enter"><kbd>Command</kbd> + <kbd>Enter</kbd></span>

    <div class="pull-right"><a href="/markdown" target="_blank">排版说明</a></div>
  </div>
<% end %>

<script>
  //ctrl + enter 提交
  $("textarea.article-editor").keydown(function (e) {
    if ((e.ctrlKey || e.metaKey) && e.keyCode == 13) {
      $("form#new_comment").submit()
    }
  });
  //@用户
  data = <%= users %>;
  $('textarea.article-editor').atwho({at: "@", 'data': data});
</script>