<div class="node-info">
  <div class="name">
    <strong><%= node.name %></strong> <span class="total">共有 <%= node.articles.count %> 个讨论主题</span>
  </div>
  <div class="summary">
    <%= node.summary %>
  </div>
</div>