<div class="row">
  <div class="col-md-9">
    <div class="topic-detail panel panel-default">
      <%= render partial: 'article_info', locals: { :@article => @article } %>

      <div class="panel-body markdown">
        <article>
          <%= markdown @article.body  %>
        </article>
      </div>

    </div>


        <div class="no-result">
          <%= t("topics.no_replies") %>
        </div>



  </div>

  <div class="article-sidebar col-md-3">
    <%= render 'article_sidebar' %>
  </div>
</div>
