<ul class="list-group recent-replies">
  <% comments.each do |comment| %>
    <li class="list-group-item">
      <div class="title">
        <%= link_to(comment.article.title, "#") %>
        <span class="info">at <%= time_ago_now(comment.created_at) %></span>
      </div>
      <div class="body markdown">
        <%= markdown comment.body %>
      </div>
    </li>
  <% end %>
</ul>
