<div class="row">
  <%= render "sidebar", user: @user %>
  <div class="col-md-8">
    <%= render "menu" %>
    <div class="panel panel-default">
      <%= render "comments", replies: @comments %>
      <div class="box-footer clearfix" id="paginator">
        <!-- kaminari的bootstrap主题-->
        <%= paginate @comments,:remote=>true,:theme => 'bootstrap3' %>
      </div>
    </div>
  </div>
</div>
