<% if target.errors.any? %>
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    数据填写有错，请检查修改之后重新提交
    <!-- 显示详细的错误信息-->
    <!--<p><strong>有 <%#= target.errors.count %> 处问题导致无法提交:</strong></p>-->
    <!--<ul>-->
      <!--<%# target.errors.full_messages.each do |msg| %>-->
       <!--<li><%#= msg %></li>-->
      <!--<%# end %>-->
    <!--</ul>-->
  </div>
<% end %>
