<div class="row">
  <div class="col-md-12">
    <div class="box box-primary direct-chat direct-chat-primary">

      <div class="box-header with-border">
        <h3 class="box-title"><%= @user.full_name %></h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>

      <div class="box-body">
        <div class="direct-chat-messages" id="chats">
          <%= render partial: 'chats/message', collection: @messages  %>
        </div>
      </div>

      <div class="box-footer">
        <form>
          <div class="input-group">
            <input type="text" name="message" placeholder="Type Message ..." class="form-control" data-behavior="chat_speaker">
            <span class="input-group-btn">
              <p class="btn btn-primary btn-flat" id="send_message">Press Enter To Send</p>
            </span>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<script>
  App.receive_user_id = '<%= @user.id %>'
</script>