<table id="table"
       data-toggle="table"
       data-url="/admin/practices/get_data"
       data-height="400"
       data-side-pagination="server"
       data-pagination="true"
       data-page-size="10"
       data-search-on-enter-key="true"
       data-page-list="[5, 10, 20, 50, 100, 200]"
       data-search="true">
  <thead>
  <tr>
    <th data-field="name">name</th>
    <th data-field="category">category</th>
    <th data-field="number">number</th>
  </tr>
  </thead>
</table>
<script>
  var $table = $('#table');
  $(function () {
  });
</script>